
.icon-users:before { content: '\e800'; } /* '' */
.icon-camera-alt:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-google-1:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */