body{
	background-color: #A9A9A9;
	color:#ffffff;
	font-family: 'Gruppo', cursive;
	font-size : 20px;
}

#containerKontakt{
	width: 957px;
	margin-top: 35px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	background-image: url(logo.png);
	opacity:0.8; filter:alpha(opacity:20); 
}

.rectangle{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size:70px;
	width: 957px;
	opacity:1.0; filter:alpha(opacity:20); 
}

#content{
	width: 100%;
	float: left;
}

.logoTelefon{
	margin-left:50px;
	margin-top: 60px;
	font-size: 80px;
	float: left;
	opacity:1.0; filter:alpha(opacity:20); 
	color: BLACK;
}

.numerTel{
	margin-left:50px;
	margin-top: 75px;
	font-size: 40px;
	opacity:1.0; filter:alpha(opacity:20); 
	font-weight: bold;
	float: left;
}

.logoMail{
	margin-left:50px;
	margin-top: 60px;
	font-size: 80px;
	opacity:1.0; filter:alpha(opacity:20); 
	float: left;
	color: BLACK;
}

.adresMail{
	margin-left:50px;
	margin-top: 75px;
	font-size: 40px;
	opacity:1.0; filter:alpha(opacity:20); 
	font-weight: bold;
	float: left;
}

.logoFb{
	margin-left:50px;
	margin-top: 60px;
	font-size: 80px;
	opacity:1.0; filter:alpha(opacity:20); 
	float: left;
	color: BLACK;
}
.adresFb{
	margin-left:50px;
	margin-top: 80px;
	font-size: 35px;
	opacity:1.0; filter:alpha(opacity:20); 
	font-weight: bold;
	float: left;
}

.powrotKontakt{
	margin-top: 145px;
	font-size: 40px;
	opacity:1.0; filter:alpha(opacity:20); 
	font-family: 'Lobster', cursive;
}

a{
	color: WHITE;
	text-decoration: none; 
}