body{
	background-color: #A9A9A9;
	color:#ffffff;
	font-family: 'Gruppo', cursive;
	font-size : 20px;
}

#container{
	width: 957px;
	height: 720px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(logo.png);
}

#naglowek{
	text-align: center;
	height: 10%;
	font-family: 'Lobster', cursive;
	font-size:70px;
	width: 100%;
	font-weight: bold;
}

.uslugi{
	width: 52%;
	height: 77%;
	margin-top: 10px;
	margin-right: 18px;
	margin-left: 21px;
	text-align: center;
	background-color: #9ACD32;
	filter:alpha(opacity=50);
	opacity: 0.9;
	-moz-opacity:0.5;
	float: left;
}

.pomysl{
	width: 42%;	
	height: 77%;
	margin-right: 18px;
	margin-top: 10px;
	text-align: center;
	background-color: #9ACD32;
	filter:alpha(opacity=50);
	opacity: 0.9;
	-moz-opacity:0.5;
	float: left;
}

.powrot{
	width:115px;
	height: 40px;
	margin-top: 1.37%;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

a{
	color: WHITE;
	text-decoration: none; 
}

