body{
	background-color: #A9A9A9;
	color:#ffffff;
	font-family: 'Gruppo', cursive;
	font-size : 20px;
}

#container{
	width: 957px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(logo.png);
}

#naglowek{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size:70px;
	width: 957px;
	font-weight: bold;
}

.uslugi{
	width: 438px;
	margin-top:36px;
	height: 430px;
	margin-left:20px;	
	margin-right:20px;	
	text-align: center;
	background-color: #9ACD32;
	filter:alpha(opacity=50);
	opacity: 0.85;
	-moz-opacity:0.5;
	float: left;
}

.pomysl{
	width: 438px;	
	margin-top:36px;
	height: 430px;
	margin-left:20px;	
	margin-right:20px;	
	text-align: center;
	background-color: #9ACD32;
	filter:alpha(opacity=50);
	opacity: 0.85;
	-moz-opacity:0.5;
	float: left;
}

.powrot{
	width:115px;
	margin-left:20px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	text-align: center;
	filter:alpha(opacity=50);
	opacity: 0.85;
	-moz-opacity:0.5;
}

a{
	color: WHITE;
	text-decoration: none; 
}

